<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.IUH.FastEvent">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ten_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuetMa"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:label"
        tools:targetApi="m">
        <activity android:name=".ThongTinSinhVien1" android:theme="@style/Theme.QuetMa.Slidr"/>
        <activity android:name=".GiaoDichSinhVien1" android:theme="@style/Theme.QuetMa.Slidr" />
        <activity android:name=".XacNhanHoatDong" android:theme="@style/Theme.QuetMa.Slidr"  />
        <activity android:name=".ThemVe" android:theme="@style/Theme.QuetMa.Slidr"/>
        <activity android:name=".ThongTinVe" android:theme="@style/Theme.QuetMa.Slidr"/>
        <activity android:name=".MenuChucNang" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:theme="@style/Theme.QuetMa.Slidr"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>