<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.IUH.FastEvent">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ten_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuetMa"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:label"
        tools:targetApi="m">
        <activity android:name=".OnboardingScreen"  android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThongTinSinhVien1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuetMa.Slidr" />
        <activity
            android:name=".GiaoDichSinhVien1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuetMa.Slidr" />
        <activity
            android:name=".XacNhanHoatDong"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuetMa.Slidr" />
        <activity
            android:name=".ThemVe"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuetMa.Slidr" />
        <activity
            android:name=".ThongTinVe"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuetMa.Slidr" />
        <activity android:name=".MenuChucNang" />
        <activity
            android:name=".Login"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuetMa.Slidr" />
        <activity
            android:name=".GiaoDichSinhVien2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuetMa.Slidr" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>